:root {
  /*Colors*/

  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;

  --zinc-50: #fafafa;
  --zinc-200: #e5e5e5;
  --zinc-400: #a1a1aa;
  --zinc-600: #52525b;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  /*Fonts*/
  --font: "Montserrat", sans-serif;
  --size-default: 16px;

  --mediaTablet: 1080px;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--zinc-950);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--zinc-950);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-600);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--size-default);
}
@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /*15px*/
  }
}
@media (max-width: 768px) {
  html {
    font-size: 87.5%; /*14px*/
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

/*GLOBALS*/
.button {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--yellow-500);
  color: var(--zinc-800);

  text-decoration: none;
  text-align: center;
  max-width: 28rem;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease;

  display: inline-block;
}

@media (max-width: 768px) {
  .button {
    max-width: initial;
    width: 100%;
  }
}

.button:hover {
  background-color: var(--yellow-400);
}

/*HERO SECTION*/
.sectionHero {
  background-image: url("./images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sectionHero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.sectionHero__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
}

@media (max-width: 1080px) {
  .sectionHero__content {
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .sectionHero__content {
    margin: 0 auto;
  }
}

.sectionHero__logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: contain;
  padding: 0.2rem;
  background-color: var(--yellow-500);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sectionHero__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.sectionHero__title {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--zinc-50);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .sectionHero__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

.sectionHero__description {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--zinc-50);
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .sectionHero__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
  }
}

/*HISTORY SECTION*/
.sectionHistory__item {
  background-color: var(--zinc-900);
}

.sectionHistory__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  min-height: 700px;
}

@media (max-width: 768px) {
  .sectionHistory__wrapper {
    grid-template-columns: repeat(1, 1fr);
    min-height: initial;
  }
}

.sectionHistory__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionHistory__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 2.5rem;
}

@media (max-width: 1080px) {
  .sectionHistory__content {
    padding: 2.5rem 1rem;
  }
}

.sectionHistory__title,
.sectionHistory__text {
  color: var(--zinc-50);
}

.sectionHistory__title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  max-width: 480px;
  width: 100%;
}

@media (max-width: 768px) {
  .sectionHistory__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sectionHistory__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .sectionHistory__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*HISTORY REVERSE SECTION*/
.sectionHistory__item--reverse {
  background-color: var(--yellow-500);
}

.sectionHistory__item--reverse .sectionHistory__image {
  order: 2;
}

@media (max-width: 768px) {
  .sectionHistory__item--reverse .sectionHistory__image {
    order: initial;
  }
}

.sectionHistory__item--reverse .sectionHistory__content {
  margin: 0 auto;
}

.sectionHistory__item--reverse .sectionHistory__title,
.sectionHistory__item--reverse .sectionHistory__text {
  color: var(--zinc-900);
}

.sectionHistory__item--reverse .sectionHistory__button {
  background-color: var(--zinc-900);
  color: var(--zinc-200);
}

.sectionHistory__item--reverse .sectionHistory__button:hover {
  background-color: var(--zinc-600);
}

/*BENEFITS SECTION*/
.sectionBenefits {
  padding-bottom: 7.5rem;
  background-color: var(--zinc-50);
}

@media (max-width: 1080px) {
  .sectionBenefits {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .sectionBenefits {
    padding-bottom: 3.5rem;
  }
}

.sectionBenefits__title {
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--zinc-600);
  text-align: center;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .sectionBenefits__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.sectionBenefits__wrapper {
  margin-top: -5rem;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1080px) {
  .sectionBenefits__wrapper {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .sectionBenefits__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sectionBenefits__button {
  margin: 2.5rem auto 0;
  display: block;
  background-color: var(--zinc-900);
  color: var(--zinc-200);
}

.sectionBenefits__button:hover {
  background-color: var(--zinc-600);
}

.itemBenefits {
  padding: 2.5rem 2rem;
  background-color: var(--yellow-500);
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1080px) {
  .itemBenefits {
    padding: 1rem 1.5rem;
  }
}

.itemBenefits__icon {
  width: 120px;
  height: 120px;
  margin: 0 auto 1rem;
  display: block;
  border: 4px solid var(--zinc-600);
  border-radius: 50%;
  padding: 1.5rem;
}

@media (max-width: 1080px) {
  .itemBenefits__icon {
    width: 80px;
    height: 80px;
    padding: 1rem;
    border-width: 3px;
  }
}

@media (max-width: 768px) {
  .itemBenefits__icon {
    width: 56px;
    height: 56px;
    padding: 0.5rem;
    border-width: 2px;
  }
}

.itemBenefits__title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--zinc-800);
  width: 80%;
  margin: 0 auto 0.5rem;
}

.itemBenefits__text {
  text-align: center;
  color: var(--zinc-800);
  font-size: 1rem;
  line-height: 1.5rem;
}
