:root {
  /*Colors*/

  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;

  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e5e5e5;
  --zinc-400: #a1a1aa;
  --zinc-600: #52525b;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --red-700: #b91c1c;

  /*Fonts*/
  --font: "Montserrat", sans-serif;
  --size-default: 16px;

  --mediaTablet: 1080px;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--zinc-600);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--zinc-950);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-600);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--size-default);
}
@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /*15px*/
  }
}
@media (max-width: 768px) {
  html {
    font-size: 87.5%; /*14px*/
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button,
a {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

/*GLOBALS*/
.button {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--yellow-500);
  color: var(--zinc-800);

  text-decoration: none;
  text-align: center;
  max-width: 28rem;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease;

  display: inline-block;
  border: none;
}

@media (max-width: 768px) {
  .button {
    max-width: initial;
    width: 100%;
  }
}

.button:hover {
  background-color: var(--yellow-400);
}

/*HERO SECTION*/
.sectionHero {
  background-image: url("./images/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.sectionHero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.sectionHero__content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
}

@media (max-width: 1080px) {
  .sectionHero__content {
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .sectionHero__content {
    margin: 0 auto;
  }
}

.sectionHero__logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: contain;
  padding: 0.2rem;
  background-color: var(--yellow-500);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sectionHero__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.sectionHero__title {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--zinc-50);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .sectionHero__title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

.sectionHero__description {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--zinc-50);
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .sectionHero__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
  }
}

/*BENEFITS SECTION*/
.sectionBenefits {
  padding-bottom: 7.5rem;
  background-color: var(--zinc-50);
}

@media (max-width: 1080px) {
  .sectionBenefits {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .sectionBenefits {
    padding-bottom: 3.5rem;
  }
}

.sectionBenefits__title {
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--zinc-600);
  text-align: center;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .sectionBenefits__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.sectionBenefits__wrapper {
  margin-top: -5rem;
  z-index: 1;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1080px) {
  .sectionBenefits__wrapper {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .sectionBenefits__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sectionBenefits__button {
  margin: 2.5rem auto 0;
  display: block;
  background-color: var(--zinc-900);
  color: var(--zinc-200);
}

.sectionBenefits__button:hover {
  background-color: var(--zinc-600);
}

.itemBenefits {
  padding: 2.5rem 2rem;
  background-color: var(--yellow-500);
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1080px) {
  .itemBenefits {
    padding: 1rem 1.5rem;
  }
}

.itemBenefits__icon {
  width: 120px;
  height: 120px;
  margin: 0 auto 1rem;
  display: block;
  border: 4px solid var(--zinc-600);
  border-radius: 50%;
  padding: 1.5rem;
}

@media (max-width: 1080px) {
  .itemBenefits__icon {
    width: 80px;
    height: 80px;
    padding: 1rem;
    border-width: 3px;
  }
}

@media (max-width: 768px) {
  .itemBenefits__icon {
    width: 56px;
    height: 56px;
    padding: 0.5rem;
    border-width: 2px;
  }
}

.itemBenefits__title {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--zinc-800);
  width: 80%;
  margin: 0 auto 0.5rem;
}

.itemBenefits__text {
  text-align: center;
  color: var(--zinc-800);
  font-size: 1rem;
  line-height: 1.5rem;
}

/* SECTION SOLUTION */
.sectionSolution {
  padding: 7.5rem 0;
  background-color: var(--zinc-100);
}

@media (max-width: 1080px) {
  .sectionSolution {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .sectionSolution {
    padding: 3.5rem 0;
  }
}
.sectionSolution__wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 2.5rem;

  align-items: center;
}

@media (max-width: 768px) {
  .sectionSolution__wrapper {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .sectionSolution__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
}

.sectionSolution__title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--zinc-800);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .sectionSolution__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sectionSolution__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--zinc-600);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sectionSolution__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .sectionSolution__button {
    display: none;
  }
}

.sectionSolution__button-mobile {
  display: none;
}

@media (max-width: 768px) {
  .sectionSolution__button-mobile {
    display: block;
    margin-top: 0.5rem;
  }
}

.sectionSolution__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 450px) {
  .sectionSolution__right {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* CARD-ITEM */
.card-item {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
}

.card-item__image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.card-item__title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.card-item__title,
.card-item__text {
  text-align: center;
}

/*HISTORY SECTION*/
.sectionHistory__item {
  background-color: var(--zinc-900);
}

.sectionHistory__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  min-height: 700px;
}

@media (max-width: 768px) {
  .sectionHistory__wrapper {
    grid-template-columns: repeat(1, 1fr);
    min-height: initial;
  }
}

.sectionHistory__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionHistory__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 2.5rem;
}

@media (max-width: 1080px) {
  .sectionHistory__content {
    padding: 2.5rem 1rem;
  }
}

.sectionHistory__title,
.sectionHistory__text {
  color: var(--zinc-50);
}

.sectionHistory__title {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  max-width: 480px;
  width: 100%;
}

@media (max-width: 768px) {
  .sectionHistory__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sectionHistory__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .sectionHistory__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*HISTORY REVERSE SECTION*/
.sectionHistory__item--reverse {
  background-color: var(--yellow-500);
}

.sectionHistory__item--reverse .sectionHistory__image {
  order: 2;
}

@media (max-width: 768px) {
  .sectionHistory__item--reverse .sectionHistory__image {
    order: initial;
  }
}

.sectionHistory__item--reverse .sectionHistory__content {
  margin: 0 auto;
}

.sectionHistory__item--reverse .sectionHistory__title,
.sectionHistory__item--reverse .sectionHistory__text {
  color: var(--zinc-900);
}

.sectionHistory__item--reverse .sectionHistory__button {
  background-color: var(--zinc-900);
  color: var(--zinc-200);
}

.sectionHistory__item--reverse .sectionHistory__button:hover {
  background-color: var(--zinc-600);
}

/* SECTION TESTIMONIALS */
.sectionTestimonials {
  padding: 7.5rem 0;
  background-color: var(--zinc-100);
}

@media (max-width: 1080px) {
  .sectionTestimonials {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .sectionTestimonials {
    padding: 3.5rem 0;
  }
}

.sectionTestimonials__title,
.sectionTestimonials__text {
  text-align: center;
}

.sectionTestimonials__title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--zinc-800);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .sectionTestimonials__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sectionTestimonials__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--zinc-600);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sectionTestimonials__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.sectionTestimonials__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1080px) {
  .sectionTestimonials__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* CARD TESTIMONIALS */
.card-testimonials {
  background-color: #fff;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;

  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
}

@media (max-width: 1080px) {
  .card-testimonials {
    padding: 1.5rem;
  }
}

.card-testimonials__top,
.card-testimonials__bottom {
  display: flex;
  justify-content: space-between;
}

.card-testimonials__top {
  margin-bottom: 1.5rem;
  align-items: flex-start;
}

.card-testimonials__icon {
  flex: 0 0 1.5rem;
}

.card-testimonials__text,
.card-testimonials__info {
  flex: 1;
}

.card-testimonials__icon {
  width: 3.5rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .card-testimonials__icon {
    width: 2rem;
  }
}

.card-testimonials__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--zinc-600);
}

.card-testimonials__bottom {
  align-items: center;
}

.card-testimonials__profile {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid var(--zinc-600);
}

@media (max-width: 768px) {
  .card-testimonials__profile {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.card-testimonials__name,
.card-testimonials__complement {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--zinc-600);
}

.card-testimonials__name {
  font-weight: bold;
}

/* SECTION CONTACT */
.sectionContact {
  padding: 7.5rem 0;
  background-color: var(--zinc-50);
}

@media (max-width: 1080px) {
  .sectionContact {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .sectionContact {
    padding: 3.5rem 0;
  }
}

.sectionContact__title,
.sectionContact__text {
  text-align: center;
}

.sectionContact__title {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--zinc-800);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .sectionContact__title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.sectionContact__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--zinc-600);
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .sectionContact__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.form__content {
  padding: 2.5rem 2rem;
  border-radius: 0.8rem;
  background-color: var(--zinc-200);

  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.04);

  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}
.form__title {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: var(--zinc-600);
  margin-bottom: 1.5rem;
}
.form__group {
  margin-bottom: 1.25rem;
  position: relative;
}

.form__error {
  position: absolute;
  bottom: -1.3rem;
  left: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--red-700);
  visibility: hidden;
}
/* QUANDO O INPUT ESTIVER COM ERRO */
.form__group.error .form__input,
.form__group.error .form__textarea {
  box-shadow: 0 0 0 2px var(--red-700);
}

.form__group.error .form__error {
  visibility: visible;
}

.form__input,
.form__textarea {
  width: 100%;
  border: 1px solid var(--zinc-400);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.form__textarea {
  resize: none;
  height: 10rem;
}

.form__button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

/* FOOTER */
.footer {
  padding: 1rem 1.5rem;
  background-color: var(--zinc-950);
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    gap: 1rem;
  }
}

.footer__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  padding: 0.2rem;
  background-color: var(--yellow-500);
}

@media (max-width: 768px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__text {
  color: var(--zinc-400);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.footer__creator {
  display: flex;
  align-items: center;
}
.footer__creator-link,
.footer__creator-text {
  color: var(--zinc-400);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.footer__creator-link {
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-left: 0.5rem;
  transition: 0.3s ease;
}

.footer__creator-link:hover {
  color: var(--yellow-500);
}
